    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    
    #contact_form {
        color: darkmagenta;
        background: linear-gradient(-90deg, pink, lightblue);
        text-align: center;
        text-decoration: dashed;
    }